#auth {
	display: table;
	width: 100%;
	height: 100vh;
	background: #000;
}

#auth .header-item {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#auth .header-item::before {
	content: '';
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#auth .header-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#auth .header-background img {
	max-width: 100%;
}

#auth .header-content {
	text-align: right;
}
